.speech{
    color:black;
    font-size: 16px;
    font-family: Georgia;
}
.song{
    color:black;
    font-size: 14px;
    font-family: serif;
}
.direction{
    color:black;
    font-size: 18px;
    font-family: 'Times New Roman';

}
.mab{
    color: darkolivegreen;
    font-size: 12px;
    font-family: sans-serif;
}
.mab:hover{
    background-color: blue;
}
.fre{
    color: lawngreen;
    font-size: 15px;
    font-family: Impact;
}
.fre:hover{
    background-color: deepskyblue;
    text-shadow: 2px 2px;
    border-style: solid;
}
.gen{
    color: mediumvioletred;
    font-size: 16px;
    font-family: 'Arial Narrow Bold';
}
.gen:hover{
    background-color: violet;
}
.gir{
    color: darkorange;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium';
}
.gir:hover{
    background-color: blueviolet;
}
.edi{
    color:brown;
    font-size: 13px;
    font-family: 'Trebuchet MS';
}
.edi:hover{
    background-color: darksalmon;
}
.ser{
    color: darkorchid;
    font-size: 18px;
    font-family: Arial;
}
.ser:hover{
    background-color: lime;
}
.pol{
    color: gold;
    font-size: 12px;
    font-family: Times;
}
.pol:hover{
    background-color: blue;
}
.kin{
    color: maroon;
    font-size: 17px;
    font-family: 'Trebuchet MS';
}
.kin:hover{
    background-color: chocolate;
    text-shadow: 2px 2px;
    border-style: solid;
}
.rut{
    color: darkmagenta;
    font-size: 13px;
    font-family: inherit;
}
.rut:hover{
    background-color: limegreen;
    text-shadow: 2px 2px;
    border-style: solid;
}
.all{
    color: indigo;
    font-size: 11px;
    font-family: unset;
}
.all:hover{
    background-color: fuchsia;
}
.direction{
    font-style: oblique;
    background-color: yellow;
    color: hotpink;
}
.direction:hover{
    background-color: cyan;
    color: blueviolet;

}
.song{
    font-size: medium;
    font-display:red;
    text-decoration: salmon;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
table.table
{
    color: crimson;
    text-align: justify;
    padding: 70px;
    margin:30px;
}
table, th, td {
    border: 4px dotted;
  }
tr:nth-child(even)
{
    background-color: khaki;
}
